<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>comparison viewer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="/js/comparison.js"></script>
    <script type="text/javascript" src="/js/renderjson.js"></script>
    <link href="/css/renderjson.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <link
      href="https://iosevka-webfonts.github.io/iosevka/iosevka.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://www.mediawiki.org/w/load.php?modules=mediawiki.legacy.shared|mediawiki.diff.styles&only=styles"
    />
  </head>
  <body>

    <h2 id="header-comparison">view comparison</h2>
    <div class="section" id="sec-comparison">
      <form class="form-horiz">
        <div class="inputPair">
          <label for="revidFromInput">from revid</label>
          <input
            type="select"
            class="autopopulated"
            id="revidFromInput"
            value="<%- from %>"
          /><!-- from 1157633768  -->
        </div>
        <div class="inputPair">
          <label for="revidToInput">to revid</label>
          <input
            type="select"
            class="autopopulated"
            id="revidToInput"
            value="<%- to %>"
          /><!-- To 1157658266 -->
        </div>
      </form>

      <div class="inputPair">
        <label for="getComparisonButton">&nbsp;</label>
        <input type="button" id="getComparisonButton" value="get comparison" />
      </div>

    </div>
    <div id="peekComparison"> </div>
    <div id="displayComparison"> </div>

  </body>
</html>