<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>wiki diff viewer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="js/main.js"></script>
    <script src="js/comparison.js"></script>
    <script type="text/javascript" src="js/renderjson.js"></script>
    <link href="css/renderjson.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link
      href="https://iosevka-webfonts.github.io/iosevka/iosevka.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://www.mediawiki.org/w/load.php?modules=mediawiki.legacy.shared|mediawiki.diff.styles&only=styles"
    />
  </head>
  <body>
    <!-- <div id="TEST">test</div> -->
    <!-- 
    <h2 id="header-diff2">view diffs2</h2>
    <div class="section" id="sec-diff2">
      <form class="form-horiz">
        <div class="inputPair">
          <label for="revidFromInput">from revid</label>
          <input
            type="select"
            class="autopopulated"
            id="revidFromInput"
            value="1157633768"
          />
        </div>
        <div class="inputPair">
          <label for="revidToInput">to revid</label>
          <input
            type="select"
            class="autopopulated"
            id="revidToInput"
            value="1157658266"
          />
        </div>

        <div class="inputPair">
          <label>request url</label>
          <div class="info-message" id="compareURL"></div>
        </div>
      </form>
    </div>
 -->
    <h1 id="header-top">wiki diff viewer</h1>

    <div class="section" id="sec-top">
      <p>select page, then explore revisions, filtered by comment text</p>

      <form class="form-horiz">
        <div class="inputPair">
          <label for="lang">language</label>
          <input type="text" id="lang" value="en" />
        </div>
        <div class="inputPair">
          <label for="project">project</label>
          <input type="text" id="project" value="wikipedia" readonly />
        </div>

        <div class="inputPair">
          <label for="project">tld</label>
          <input type="text" id="tld" value="org" readonly />
        </div>
      </form>
      <form class="form-horiz">
        <div class="inputPair">
          <label for="titleSearchInput">search for page title</label>
          <input
            type="text"
            id="titleSearchInput"
            placeholder="search titles"
          />
        </div>
        <div class="inputPair">
          <label for="autocompleteSelect">select title</label>
          <select id="autocompleteSelect">
            <option selected disabled hidden>top matches</option>
          </select>
        </div>
      </form>

      <h3>selected page</h3>
      <div class="resultsContainer">
        <div class="searchResultContainer">
          <div class="searchResultOptionalImg">
            <img id="searchResultImg" />
          </div>
          <div class="searchResultMain">
            <form class="form-vert">
              <div class="inputPair">
                <label for="pageTitlePretty">title</label>
                <!-- <input type="text" id="pageTitlePretty" class="autopopulated" readonly /> -->
                <div>
                  <a id="pageTitlePretty" class="autopopulated" target="_blank">
                    &nbsp;
                  </a>
                </div>
              </div>
              <div class="inputPair">
                <label for="pageDescription">description</label>
                <!-- <input type="text" id="pageDescription" class="autopopulated" readonly /> -->
                <div>
                  <span id="pageDescription" class="autopopulated">
                    &nbsp;
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <h2 id="header-history">get filtered revisions</h2>

    <div class="section" id="sec-history">
      <p>get page history, and filter by comment text.</p>
      <form class="form-vert">
        <div class="inputPair">
          <label for="pageTitle">normalized title</label>
          <input
            type="text"
            id="pageTitle"
            class="autopopulated"
            placeholder="(search titles above or enter title here)"
            value="Canada"
          />
        </div>
      </form>
      <form class="form-horiz">
        <div class="inputPair">
          <label for="olderThan">older than (revid)</label>
          <input type="text" id="olderThan" value="" placeholder="(latest)" />
        </div>
        <div class="inputPair">
          <label for="filterChoice">edit type filter</label>
          <select id="filterChoice">
            <option value="(none)">(none)</option>
            <option value="reverted">reverted</option>
            <option value="anonymous">anonymous</option>
            <option value="bot">by bots</option>
            <option value="minor">minor</option>
            <option value="editors">editors</option>
          </select>
        </div>
        <div class="inputPair">
          <label>request url</label>
          <div class="info-message" id="historyURL"></div>
        </div>
      </form>
      <form class="form-horiz">
        <div class="inputPair">
          <label for="countEditsButton">&nbsp;</label>
          <input type="button" id="countEditsButton" value="count edits" />
        </div>
        <div class="inputPair">
          <label>count</label>
          <div class="info-message">
            <span id="count">#</span> edits =
            <span id="countBatches">#</span>
            <a
              href="https://www.mediawiki.org/wiki/API:REST_API/Reference#Response_schema"
              >batches</a
            >
          </div>
        </div>
        <!-- <div class="inputPair">
          <label>&nbsp;</label>
          <div class="info-message" id="editCountURL"></div>
        </div> -->
      </form>
      <form class="form-horiz">
        <div class="inputPair">
          <label for="commentRegExp">comment regexp pattern</label>
          <input type="text" id="commentRegExp" value="spelling|typo|grammar" />
        </div>
        <div class="inputPair">
          <label for="commentRegExpFlags">comment regexp flags</label>
          <input type="text" id="commentRegExpFlags" value="i" />
        </div>
        <div class="inputPair">
          <label>regex used</label>
          <div class="info-message" id="displayRegExp"></div>
        </div>
      </form>

      <form class="form-horiz">
        <div class="inputPair">
          <label for="maxBatches">number of batches to get</label>
          <input type="text" id="maxBatches" value="100" />
        </div>
        <div class="inputPair">
          <label for="historyButton">&nbsp;</label>
          <input type="button" id="historyButton" value="get history batches" />
        </div>
        <div class="inputPair">
          <label>page history segment batch</label>
          <div class="info-message" id="historyBatchInfo">
            <span id="historyBatch">#</span><span id="historyBatchOutOf"></span>
          </div>
        </div>
      </form>

      <h3>revisions</h3>
      <div class="resultsContainer">
        <div>
          <label>
            unfiltered batches of revisions
            <input
              type="button"
              class="clearButton"
              id="unfilteredClearButton"
              value="[x]"
            />
          </label>
          <details id="history-unfiltered-container">
            <summary><span id="numBatchesDisplayed">#</span> batches</summary>
            <div id="history-unfiltered"></div>
          </details>
        </div>
        <div>
          <label>
            <span id="revisionsCount"></span> filtered revisions
            <input
              type="button"
              class="clearButton"
              id="filteredClearButton"
              value="[x]"
            />
          </label>
          <div id="history-filtered"></div>
        </div>
      </div>
    </div>

    <h2 id="header-diff">view diffs</h2>
    <div class="section" id="sec-diff">
      <p>
        compare difference between a specific revision and previous version of
        the page.
      </p>
      <form class="form-vert">
        <label for="revidSelect">select revision</label>
        <select id="revidSelect"></select>
      </form>
      <form class="form-vert">
        <label for="diffTypeSelect">diff type</label>
        <select id="diffTypeSelect">
          <option value="inline">inline</option>
          <option value="table" selected>table</option>
          <option value="unified">unified</option>
        </select>
      </form>
      <form class="form-horiz">
        <div class="inputPair">
          <label for="revidInput">or enter revid manually</label>
          <input
            type="select"
            class="autopopulated"
            id="revidInput"
            value="1157658266"
          /><!-- other interesting example 1165662720 -->
        </div>

        <div class="inputPair">
          <label>request url</label>
          <div class="info-message" id="diffURL"></div>
        </div>
      </form>
      <form class="form-horiz">
        <!-- <div class="inputPair">
          <label for="diffPrevButton">&nbsp;</label>
          <input type="button" id="diffPrevButton" value="compare w prev" />
        </div> -->
        <div class="inputPair"></div>
      </form>

      <h3>
        revision
        <span><a id="revLink" target="_blank"></a></span> diff-from-previous
        info
      </h3>
      <div class="resultsContainer">
        <label>raw</label>
        <div id="diffPrev-info"></div>

        <label>rendered</label>
        <table class="diff">
          <colgroup>
            <col class="diff-marker" />
            <col class="diff-content" />
            <col class="diff-marker" />
            <col class="diff-content" />
          </colgroup>
          <tbody id="diff-body"></tbody>
        </table>
      </div>
    </div>

    <h2 id="header-comparison">view comparison</h2>
    <div class="section" id="sec-comparison">
      <form class="form-horiz">
        <div class="inputPair">
          <label for="revidFromInput">from revid</label>
          <input
            type="select"
            class="autopopulated"
            id="revidFromInput"
            value="1157633768"
          /><!-- from 1157633768  -->
        </div>
        <div class="inputPair">
          <label for="revidToInput">to revid</label>
          <input
            type="select"
            class="autopopulated"
            id="revidToInput"
            value="1157658266"
          /><!-- To 1157658266 -->
        </div>
        <div class="inputPair">
          <label for="getComparisonButton">&nbsp;</label>
          <input
            type="button"
            id="getComparisonButton"
            value="view comparison data"
          />
        </div>
      </form>
    </div>

    <div class="inputPair">
      <label for="peekComparison">peek at changed bytes</label>
      <div id="peekComparison"></div>
    </div>
    <div class="inputPair">
      <label for="displayComparison">full <a href="https://www.mediawiki.org/wiki/API:REST_API/Reference#Compare_revisions">comparison</a> data</label>
      <div id="displayComparison"></div>
    </div>
    <hr />

    <footer id="authorInfo">
      <p>
        code:
        <a href="https://gitlab.com/postylem/wiki-diff-viewer/"
          >wiki-diff-viewer</a
        ><br />2023, Jacob Hoover
      </p>
    </footer>
  </body>
</html>
