html {
  font-size: small;
  font-family: "Segoe UI", sans-serif;
}
label { font-size: smaller; }
h1 { border-bottom: 4px solid black; 
  /* border-right: 4px solid black;   */
}
h2 { border-bottom: 4px solid lightgrey; 
  /* border-right: 4px solid lightgrey;  */
}
/* .section { padding-left: 4px;} */
/* body {border-left: 4px solid lightgrey;} */
input { font-size: small; background-color: a;}

input:not([type="button"]) { font-family: 'Iosevka Web', 'Courier New', Courier, monospace; }
input:not([type="button"],.autopopulated):read-only { color: grey; }
input.clearButton[type="button"] { 
  color: red; 
  font-size: smaller; 
  padding: 0;
  border: 0;
}
select { font-family: 'Iosevka Web', 'Courier New', Courier, monospace; }
details { border-left: 2px solid lightgrey; padding-left: 2px;}
summary { font-size: smaller; }

.searchResultContainer{ 
  display: flex;
}

.searchResultMain{  
  flex: 1 1 auto; 
}
.searchResultOptionalImg{
  display: flex;
  align-items: center;
  margin-right: 1%;
  height: 60px;
  overflow: visible;
}
.searchResultOptionalImg img{
  margin-left: 2px;
}
.info-message {
  font-family: 'Iosevka Web', 'Courier New', Courier, monospace;
  color: darkslategray;
  text-wrap: balance;
}
.form-vert label {
  display: flex;
  flex-direction:column;
}
.form-vert input {
  margin-right: 2%;
}
.form-horiz {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.inputPair {
  display: flex;
  flex-direction: column;
  margin: 0 2px 2px 0;
}
.hidden {
  display: none;
}
.resultsContainer {
  border-left: 2px solid lightgrey; padding-left: 2px;
}
.diff-info {
  background-color: antiquewhite;
  font-size: 0.9rem;
}

input.autopopulated { 
  font-family: 'Segoe UI', sans-serif;
  padding: 2px;
  border: 1px solid aliceblue;
  background-color: aliceblue;
}

#authorInfo {
  font-size: smaller;
  text-align: end;
  color: darkgray;
  & a {
    color: grey;
    text-decoration: none;
  }
}
span.searchmatch {
  text-decoration: underline cyan 4px;
  text-decoration-skip-ink: none;
}