.renderjson a              { text-decoration: none; }
.renderjson                { font-family: 'Iosevka Web', 'Courier New', Courier, monospace;}
.renderjson .placeholder   { color: darkslategrey;}
.renderjson .disclosure    { color: crimson; font-weight: bolder;}
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: black; }
.renderjson .number        { color: purple; }
.renderjson .boolean       { color: darkred; }
.renderjson .key           { color: darkblue;}
.renderjson .keyword       { color: darkorange; }
.renderjson .object.syntax { color: darkseagreen; }
.renderjson .array.syntax  { color: darksalmon; }